.footer-container{
    margin-top: -10px;
    background-color:rgba(10, 110, 0, .35);
    margin-bottom : 10px;
}

.footer{
    display : flex !important;
    flex-direction : column;
    justify-content:center;
    align-items:center;
}

.icons-container i{
    padding:10px;
    border: 1px solid black;
    background-color:white;
    margin-left : 10px;
    margin-bottom: 20px;
}

.icons-container{
    display : flex;
    justify-content:center;
}